{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p>Skin Concerns: {{ user.profile.skin_concern }}</p>

          <ol>
            {% for product in products %}
            <li>{{ product.name}} {{product.description}}: {{product.treatment_type}} </li>
            {% endfor %}
          </ol>
        </div>
      </div>
{% endblock content %}